In [8]:
import requests

from pprint import pprint
from scipy import stats
import json
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
!pip install citipy
from citipy import citipy

Defaulting to user installation because normal site-packages is not writeable
Collecting citipy
  Downloading citipy-0.0.5.tar.gz (557 kB)
Collecting kdtree>=0.12
  Downloading kdtree-0.16-py2.py3-none-any.whl (7.7 kB)
Building wheels for collected packages: citipy
  Building wheel for citipy (setup.py): started
  Building wheel for citipy (setup.py): finished with status 'done'
  Created wheel for citipy: filename=citipy-0.0.5-py3-none-any.whl size=559701 sha256=1047b8e7a9f42ff2311e4755c7e54066d294fce318c9c49862b07fe5d692c0d8
  Stored in directory: c:\users\abdirahmanmohamedoma\appdata\local\pip\cache\wheels\d9\dd\68\8cc0be16282b0fcae5acb7280b47d31952f203c401923a8c1e
Successfully built citipy
Installing collected packages: kdtree, citipy
Successfully installed citipy-0.0.5 kdtree-0.16

In [22]:
#AMALFI
urlAD='https://archive-api.open-meteo.com/v1/era5?latitude=40.6340&longitude=14.6027&start_date=2017-05-24&end_date=2022-06-03&daily=temperature_2m_max,sunset,precipitation_sum,windspeed_10m_max&timezone=auto'

In [23]:
response=requests.get(urlAD)
response.status_code

200

In [37]:
data=response.json()
data1=data['daily']

KeyError: 'daily'

In [60]:
amalfidaily=pd.DataFrame(data1)
amalfidaily.to_csv('amalfidaily.csv')

,latitude,longitude,generationtime_ms,utc_offset_seconds,timezone,timezone_abbreviation,elevation,daily_units,daily
time,41.0,14.25,2.974033,3600,Europe/Rome,CET,126.0,iso8601,"[2017-05-24, 2017-05-25, 2017-05-26, 2017-05-2..."
temperature_2m_max,41.0,14.25,2.974033,3600,Europe/Rome,CET,126.0,°C,"[24.2, 22.2, 23.4, 24.0, 25.8, 25.6, 24.4, 24...."
sunset,41.0,14.25,2.974033,3600,Europe/Rome,CET,126.0,iso8601,"[2017-05-24T19:21, 2017-05-25T19:22, 2017-05-2..."
precipitation_sum,41.0,14.25,2.974033,3600,Europe/Rome,CET,126.0,mm,"[0.8, 6.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
windspeed_10m_max,41.0,14.25,2.974033,3600,Europe/Rome,CET,126.0,km/h,"[13.1, 13.2, 14.3, 12.7, 11.3, 15.8, 13.4, 12...."

In [31]:
urlAH='https://archive-api.open-meteo.com/v1/era5?latitude=40.6340&longitude=14.6027&start_date=2017-05-24&end_date=2022-06-03&hourly=relativehumidity_2m,cloudcover&timezone=auto'

In [44]:
response1=requests.get(urlAH)
response1.status_code

200

In [45]:
d2=response1.json()
data2=d2['hourly']

In [61]:
amalfiHour=pd.DataFrame(data2)
amalfiHour.to_csv('amalfihourly.csv')

In [43]:
#CUBA
urlcd='https://archive-api.open-meteo.com/v1/era5?latitude=21.5218&longitude=77.7812&start_date=2017-05-24&end_date=2022-06-03&daily=temperature_2m_max,sunset,precipitation_sum,windspeed_10m_max&timezone=auto'

In [48]:
response2=requests.get(urlcd)
response2.status_code

200

In [49]:
d3=response2.json()
data3=d3['daily']

In [62]:
cubadaily=pd.DataFrame(data3)
cubadaily.to_csv('cubadaily.csv')

In [52]:
urlch='https://archive-api.open-meteo.com/v1/era5?latitude=21.5218&longitude=77.7812&start_date=2017-05-24&end_date=2022-06-03&hourly=relativehumidity_2m,cloudcover&timezone=auto'

In [56]:
response3=requests.get(urlch)
response3.status_code

200

In [57]:
d4=response3.json()
data4=d4['hourly']

In [63]:
cubahourly=pd.DataFrame(data4)
cubahourly.to_csv('cubahourly.csv')